@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  /* Color Palette */
  --color-brand-blue: #006489;
  --color-brand-green: #438727;
  --color-brand-orange: #BB4A05;
  --color-brand-slate: #495669;

  /* Secondary Palette */
  --color-brand-dark: #2B3036;
  --color-brand-gold: #B4975A;
  --color-brand-silver: #8A8D8F;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
